@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');
:root {
    /*COLOR*/
    --primary-color: hsl(322, 100%, 66%);
    --Neutral-pale-cyan: hsl(193, 100%, 96%);
    --neutral-dark-cyan: hsl(192, 100%, 9%);
    --neutral-gray-blue: hsl(208, 11%, 55%);
    --neutral-white: hsl(0, 0, 100%);

    /*FONT-FAMILY*/
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Poppins', sans-serif;

    /*FONT SIZE*/
    --body-font-size: 18px;

    /*FONT WEIGHT*/
    --fw-level-300: 300;
    --fw-level-400: 400;
    --fw-level-600: 600;
    --fw-level-700: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    padding: 30px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
    height: 25px;
}

nav > button {

    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: 1px var(--neutral-gray-blue);
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: var(--body-font);
    font-weight: var(--fw-level-400);
}

nav > button:hover {
    cursor: pointer;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-weight: var(--fw-level-700);
}

.header-nav {
    background-color: var(--Neutral-pale-cyan);
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat center;
    background-size:cover;
}

header {
    /* max-width: 800px; */
    padding: 30px 50px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

}

header img {
    width: max(500px, 50%);
}

.header-details {
    max-width: 400px;
}

.header-details h1 {
    font-size: clamp(2rem, 2vw, 5rem);
    font-family: var(--heading-font);
    line-height: 1.5;
    font-weight: var(--fw-level-600);
}

.header-details > p {
    margin-top: 20px;
    font-family: var(--body-font);
    font-weight: var(--fw-level-300);
    font-size: clamp(.8rem, 1.2vw, 2rem);
}

.header-details button {
    margin-top: 30px;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: none;
    font-family: var(--body-font);
    font-weight: var(--fw-level-400);
    background-color: var(--primary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-details button:hover {
    cursor: pointer;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-weight: var(--fw-level-700);
}

main {
    margin-top: 100px;
}

.features {
    margin: 30px 50px 20px 50px;
    padding: 50px 40px 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    border-radius: 15px;
}

.features-container {
    max-width: 400px;
}

.features h1 {
    font-family: var(--heading-font);
    font-size: clamp(1.5rem, 1.6vw, 3rem); 
}

.features p {
    margin-top: 10px;
    font-family: var(--body-font);
    line-height: 1.5;
    font-weight: var(--fw-level-300);
    font-size: clamp(.5rem, 1.15vw, 2rem);
}

.features .illustration {
    width: min(250px, 50%);
}

.floating-content {
    background-color: white;
    padding: 40px 50px;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    align-items: center;
    position: relative;
    top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer {
    margin-top: 50px;
    background-color: var(--neutral-dark-cyan);
    width: 100%;
   padding: 30px 50px 20px 50px;
}

.footer-logo {
    width: 150px;
    height: 25px;
}

.floating-content h1 {
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-family: var(--heading-font);
    line-height: 1.5;
    font-weight: var(--fw-level-600);

}

.floating-content button {
    width: 180px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--body-font);
    transition: ease-in .2s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.floating-content button:hover {
    cursor:pointer;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-weight: var(--fw-level-700);
    transition: ease-in .2s;
}

.footer-container {
    margin-top: 15px;
    padding-top: 20px; 
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: var(--body-font);
    font-weight: var(--fw-level-300);
    font-size: clamp(.5rem, 1.15vw, 2rem);
    line-height: 1.5
}

.footer-logo {
    margin-top: 80px;
}

.part1 {
    max-width:350px;
    line-height: 1.5;
}

.part1 .map, .phone, .mail {

    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.map img, .phone img, .mail img {
    width: 20px;
    height: 20px;
}

.part2 p, .part3 p  {
    margin-top: 10px;
}

.part4 i {
    width: 50px;
}

.copy-right {
    display:flex;
    justify-content: flex-end;
    font-family: var(--body-font);
    font-size: clamp(.5rem, 1.15vw, 2rem);
    font-weight: var(--fw-level-600);
    color: white;
}

.attribution {
    margin-top: 20px;
    font-family: var(--heading-font);
    color: white;
    font-size: clamp(.5rem, 1.15vw, 2rem);
}

.attribution a {
    text-decoration: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px) {

    .container {
        display: block;
    }

    nav {
        padding: 30px 20px;
    }

    nav img {
        width: 100px;
        height: 18px;
    }

    .header-nav {
        background-image: url(images/bg-hero-mobile.svg);
        background-repeat: no-repeat center;
        background-size:cover;
    }

    header {
        padding: 30px 30px;
        display: block;
        text-align: center;
    }

    header img {
        margin-top: 30px;
        width: max(300px, 50%);
    }

    .header-details h1 {
        font-size: clamp(1.7rem, 2vw, 4rem);
        font-family: var(--heading-font);
        line-height: 1.5;
        font-weight: var(--fw-level-600);
    }

    .header-details > p {
        font-weight: var(--fw-level-400);
        font-size: clamp(.9rem, 1.2vw, 2rem);
        line-height: 1.5;
    }

    .features {
        margin: 30px;
        padding: 50px 20px 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
        border-radius: 15px;
    }

    .features  .illustration {
        margin-bottom: 20px;
        order: 1;
        width: 250px;

    }

    .features-container {
        margin-top: 15px;
        order: 2;
        text-align: center;
        width: 250px;
    }

    .features h1 {
        font-size: clamp(1.2rem, 1.6vw, 3rem); 
    }

    .features p {
        font-weight: var(--fw-level-400);
        font-size: clamp(.7rem, 1.15vw, 2rem);
    }

    .floating-content {
        padding: 30px 20px;
        max-width: 320px;
    }

    .floating-content h1 {
        font-size: clamp(1rem, 2vw, 2rem);
    }

    footer {
       padding: 20px;
    }

    .footer-container {
        margin-top: 15px;
        padding-top: 0px; 
        display: block;
        font-weight: var(--fw-level-400);
        font-size: clamp(.9rem, 1.15vw, 2rem);
        line-height: 1.5
    }

    .part2 {
        margin-top: 40px;
    }

    .part4 {
        margin-top: 40px;
        text-align: center;
    }

    .part4 i {
        width: 40px;
    }

    .copy-right {
        display: block;
        margin-top: 30px;
        text-align: center;
    }

    .copy-right, .attribution {
        font-size: clamp(.7rem, 1.15vw, 2rem);
    }

}




